################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SameCombatBookType/.vs/SameCombatBookType
/SameCombatBookType/obj
/SameCombatBookType/.vs/ProjectEvaluation
/SameCombatBookType/bin/Debug/net5.0
